
<footer class="footer pt-7 pb-6 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><strong>CRUSTY</strong> is available on Github also.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com/luglilab" aria-label="twitter social link" class="icon icon-xs icon-white"
                            data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.humanitas-research.org/researcher/dr-enrico-lugli/"
                            class="icon icon-xs icon-white" aria-label="facebook social link" data-toggle="tooltip"
                            data-placement="top" title="Visit our website">
                            <span class="fas fa-laptop"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/luglilab/Cytophenograph" aria-label="github social link" class="icon icon-xs icon-white"
                            data-toggle="tooltip" data-placement="top" title="Star us on Github">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="https://dribbble.com/themesberg"
                            class="icon icon-xs icon-white" aria-label="dribbble social link" data-toggle="tooltip"
                            data-placement="top" title="Like us on Dribbble">
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <h3 class="h5">Links</h3>
                <ul class="links-vertical">
                    <li><a target="_blank" href="">Institute 1 </a></li>
                    <li><a target="_blank" href="">Institute 2 </a></li>
                    <li><a target="_blank" href="">Institute 3 </a>
                    </li>
                </ul>
            </div>
            <!-- <div class="col-12 col-md-4 mb-5 mb-lg-0">
        <h3 class="h5">Subscribe</h3>
        <p class="text-muted font-small">Join our mailing list. We write rarely, but only the best content.</p>
        <form action="#">
            <div class="form-row mb-2">
                <div class="col-12">
                    <label class="h6 font-weight-normal text-muted" for="exampleInputEmail3">Email address</label>
                    <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email" aria-label="Subscribe form" id="exampleInputEmail3" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-tertiary shadow-soft btn-block" data-loading-text="Sending">
                        <span>Subscribe</span>
                    </button>
                </div>
            </div>
        </form>
        <p class="text-muted font-small m-0">We’ll never share your details. See our <a class="text-white" href="#">Privacy Policy</a></p>
    </div> -->
    <div class="col-6 col-md-2 mb-5 mb-lg-0">
        <h3 class="h5">Article</h3>
        <ul class="links-vertical">
            <li><a href="" target="_blank">Article 1</a></li>
            <li><a href="" target="_blank">Article 2</a></li>
            <li><a target="_blank" href="">Article 3</a>
            </li>
        </ul>
    </div>
</div>
<!--
<hr class="my-5">
<div class="row">
    <div class="col mb-md-0">
        <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center">
            <img src="/static/assets/img/themesberg.svg" height="25" class="mb-3" alt="Themesberg Logo">
        </a>
    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
        <p class="font-weight-normal font-small mb-0">&copy; Themesberg
            <span class="current-year">2020</span>
            - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>.
        </p>
        </div>
    </div>
</div> -->
    </div>
</footer>
